@charset "UTF-8";

.puzzle {
  border-top: dotted 2px gray;
  border-left: dotted 2px gray;
  float: left;
  font-family: monospace;
  line-height: 2.5em;
  text-align: center;
}
.puzzle div{
	border-right: dotted 2px gray;
	border-bottom: dotted 2px gray;
	float: left;
	height: 2.5em;
	position: relative;
	width: 2.5em;
}
.puzzle div.br{
	border-right-color: black;
	border-right-style: solid;
}
.puzzle div.bb{
	border-bottom-color: black;
	border-bottom-style: solid;
}
.puzzle div.rowclear{
	clear: left;
}
.mini{
	color: #999;
	font-family: monospace;
	height: 0.9em;
	width: 0.9em;
	font-size: smaller;
	float: left;
	line-height: 0.9em;
	position: relative;
	z-index: 2;
}

.flashit {
  animation: 1s linear 2 flash;
}
@keyframes flash {
  0% { background-color: transparent; }
  50% { background-color: green; }
  100% { background-color: transparent; }
}